/* Ring 1 Animation */
@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }
  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

.animate-rotate1 {
  animation: rotate1 2s linear infinite;
}

/* Ring 2 Animation */
@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }
  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

.animate-rotate2 {
  animation: rotate2 2s linear infinite;
}

/* Ring 3 Animation */
@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }
  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

.animate-rotate3 {
  animation: rotate3 2s linear infinite;
}

/* Ring 4 Animation */
@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }
  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}

.animate-rotate4 {
  animation: rotate4 2s linear infinite;
}
