@tailwind base;
@tailwind components;
@tailwind utilities;

.card-style {
  @apply bg-white rounded-3xl px-8 py-12 w-[350px] text-center border border-gray-200 shadow-sm flex flex-col items-center gap-4 opacity-0;
}

.badge {
  @apply bg-gradient-to-br from-amber-500 to-orange-400 text-white px-5 py-2 rounded-full text-xs font-bold tracking-wide;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
